@media screen and (min-width: 1200px) {
  .price-list {
    min-width: 960px;
    display: flex;
    padding-right: 1.5em;
    align-content: space-around;
    justify-content: space-between;
    padding: 0 10%;
  }
}
