@media screen and (min-width: 500px) {
  .menu a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .hamburger {
    display: inline-block;
    font-size: 1em;
    padding: 0.7em;
    color: aliceblue;
  }
  .menu {
    display: none;
  }
  input {
    display: none;
  }
  .hamburger input:checked ~ .menu {
    display: block;
  }

  .header {
    min-height: 10vh;
  }
  .cta {
    min-height: 100vh;
  }
  .features {
    min-height: 60vh;
  }
  .app-download {
    min-height: 60vh;
  }
  .testimonials {
    min-height: 70vh;
  }
  .pricing {
    min-height: 80vh;
  }
  .app-download {
    min-height: 40vh;
  }
  .footer {
    min-height: 50vh;
  }
  .service-provider {
    min-height: 9vh;
  }
}
