@media screen and (min-width: 600px) {
  .menu a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .hamburger {
    display: inline-block;
    font-size: 1em;
    padding: 0.7em;
    color: aliceblue;
  }
  .menu a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .menu {
    display: none;
  }
  input {
    display: none;
  }
  .hamburger input:checked ~ .menu {
    display: block;
  }
  .hero {
    height: 100vh;
  }
  .features {
    height: 100vh;
  }
  .app-download {
    height: 60vh;
  }
  .testimonials {
    height: 80vh;
  }
  .pricing {
    height: 100vh;
  }
}
